$main-text-color: #18191f;

$nav-bar-shadow: #e5e9f2;

$secondary-text-color: #fff;
$primary-button-bgcolor: #8c30f5;
$primary-button-bgcolor-hover: #5a1ea0;
$primary-button-bgcolor-focus: #5c3ea0;

$base-font: 400 18px "Manrope", sans-serif;
$link-font: 700 14px "Manrope", sans-serif;
$button-font: 700 20px "Manrope", sans-serif;
$heading-font: 800 72px "Manrope", sans-serif;

$container-width: 1110px;

* {
	margin: 0;
	padding: 0;
	border: 0px;
}

body {
	font: $base-font;
	color: $main-text-color;
	box-sizing: border-box;
}

a {
	font: $link-font;
	color: $main-text-color;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	opacity: 0.7;
}

.header {
	box-shadow: 0px 1px 0px #e5e9f2;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
}

.row-header {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}

.header-nav {
	display: flex;
	align-items: center;
}

.logo__link:hover {
	opacity: 1;
}

.logo__link img {
	vertical-align: middle;
}

.logo__link img[alt="logo-text"] {
	margin-left: 9px;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.nav-menu li {
	margin-left: 28px;
}

.nav-menu li:last-child {
	margin-left: 8px;
}

.nav-menu img[alt="vector"] {
	margin-bottom: 1px;
}

.banners {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.banners img:last-child {
	margin-left: 13px;
}

.content {
	padding: 197px 0;
}

.row-content {
	display: flex;
	justify-content: space-between;
}

.left-section {
	max-width: 540px;
}

.left-section__title {
	font: $heading-font;
	margin: 16px 0;
}

.left-section__text {
	margin-bottom: 32px;
}

.right-section__image {
	background-image: url(../img/MobileMockup.png); /* Путь к фоновому изображению */
	background-color: #fff; /* Цвет фона */
	position: relative;
	width: 400px;
	height: 400px;
	margin-left: 75px;
}

.user {
	position: absolute;
	border-radius: 10px;
}

#avatar-1 {
	top: 16px;
	left: -54px;
}

#avatar-2 {
	bottom: 16px;
	left: 47%;
}

.start-button {
	background-color: $primary-button-bgcolor;
	color: $secondary-text-color;
	outline: none;
	cursor: pointer;
	border: 0;
	padding: 16px 41px;
	border-radius: 6px;
	font: $base-font;
}

.start-button:hover {
	background-color: $primary-button-bgcolor-hover;
}

.start-button:focus {
	background-color: $primary-button-bgcolor-focus;
}
